<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.manageyourlogserver.dao.mysql.mapper.LogRecordMysqlMapper">

    <sql id="LogRecord">
        recordId, content, operatorSort, operator, logRecordSortId, indexIds, version, createTime, modifyTime
    </sql>

    <insert id="insert" parameterType="org.manageyourlogserver.dao.mysql.entity.LogRecordMysqlEntity">
        insert into LogRecord(recordId, content, operatorSort, operator, logRecordSortId, indexIds, version, createTime, modifyTime)
        value (#{recordId}, #{content}, #{operatorSort}, #{operator}, #{logRecordSortId}, #{indexIds}, #{version}, #{createTime}, #{modifyTime})
    </insert>

    <select id="selectByRecordId" resultType="org.manageyourlogserver.dao.mysql.entity.LogRecordMysqlEntity">
        select <include refid="LogRecord"/>
        from LogRecord where recordId = #{recordId}
    </select>

    <select id="selectByRecordIds" resultType="org.manageyourlogserver.dao.mysql.entity.LogRecordMysqlEntity">
        select <include refid="LogRecord"/>
        from LogRecord
        <where>
            recordId in
            <foreach collection="recordIds" open="(" close=")" item="recordId" separator=",">
                #{recordId}
            </foreach>
        </where>
    </select>

</mapper>