<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.manage.log.receive.provider.repository.mysql.mapper.LogConfigMapper">

    <sql id="Base_Column_List">
        ruleId, ruleName, logRecordSort, operatorSort, contentTemplate, description, version, createTime, modifyTime
    </sql>

    <sql id="TABLE_NAME">
        LogConfig
    </sql>

    <insert id="add" parameterType = "org.manage.log.receive.provider.repository.mysql.model.config.LogConfigMysqlPO">
        insert into <include refid="TABLE_NAME"/>(ruleId, ruleName, logRecordSort, operatorSort, contentTemplate, description, version, createTime, modifyTime)
        value (#{ruleId}, #{ruleName}, #{logRecordSort}, #{operatorSort}, #{contentTemplate}, #{description}, #{version}, #{createTime}, #{modifyTime})
    </insert>

    <select id="getByConfigName" resultType="org.manage.log.receive.provider.repository.mysql.model.config.LogConfigMysqlPO">
        select <include refid="Base_Column_List"/> from <include refid="TABLE_NAME"/> where ruleName = #{configName}
    </select>

    <select id="getByConfigNameList" resultType="org.manage.log.receive.provider.repository.mysql.model.config.LogConfigMysqlPO">
        select <include refid="Base_Column_List"/>
            from <include refid="TABLE_NAME"/>
            where ruleName in
                <foreach collection="configNames" item="configName" open="(" close=")" separator=",">
                    #{configName}
                </foreach>
    </select>

    <select id="getAll" resultType="org.manage.log.receive.provider.repository.mysql.model.config.LogConfigMysqlPO">
        select <include refid="Base_Column_List"/>
            from <include refid="TABLE_NAME"/>
    </select>
</mapper>