<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.manage.log.receive.provider.repository.mysql.mapper.LogConfigMapper">

    <sql id="Base_Column_List">
        ruleId, ruleName, logRecordSort, operatorSort, indexSort, description, version, createTime, modifyTime
    </sql>

    <insert id="add" parameterType = "org.manage.log.receive.provider.repository.mysql.model.LogConfigMysqlPO">
        insert into LogConfig(ruleId, ruleName, logRecordSort, operatorSort, indexSort, description, version, createTime, modifyTime)
        value (#{ruleId}, #{ruleName}, #{logRecordSort}, #{operatorSort}, #{indexSort}, #{description}, #{version}, #{createTime}, #{modifyTime})
    </insert>

    <select id="getByConfigName" resultType="org.manage.log.receive.provider.repository.mysql.model.LogConfigMysqlPO">
        select <include refid="Base_Column_List"/> from LogConfig where ruleName = #{configName}
    </select>

    <select id="getAll" resultType="org.manage.log.receive.provider.repository.mysql.model.LogConfigMysqlPO">
        select <include refid="Base_Column_List"/> from LogConfig
    </select>
</mapper>