<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.manage.log.receive.provider.repository.mysql.mapper.LogRecordIndexMapper">

    <sql id="Base_Column_List">
        indexId, logRecordId, sort, indexValue, version, createTime, modifyTime
    </sql>

    <insert id="batchInsert">
        insert into LogRecordIndex(indexId, logRecordId, sort, indexValue, version, createTime, modifyTime)
        values
        <foreach collection="indexList" item="index" open="(" close=")" separator=",">
            #{index.indexId},
            #{index.logRecordId},
            #{index.sort},
            #{index.indexValue},
            #{index.version},
            #{index.createTime},
            #{index.modifyTime}
        </foreach>
    </insert>
</mapper>